.loading_div {
  justify-content: center;
  display: flex;
  padding-top: 30px;

  .loading_img {
    margin: 20px 20px;
    border: 10px solid clear;
    height: 150px;
    width: 150px;
    animation: rotation 2.8s infinite 0s ease-out alternate;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(-20deg) scale(1, 1);
    background-color: red;
    border-radius: 100%;
  }
  25% {
    border-radius: 0%;
    background-color: orange;
  }
  50% {
    transform: rotate(20deg) scale(1.2,1.1) ;
    border-radius: 75%;
    background-color: violet;

  }
  75% {
    border-radius: 0%;
    background-color: orange;
  }
  100% {
    transform: rotate(-20deg) scale(1.2,1.1) ;
    background-color: violet;
    border-radius: 75%;
    background-opacity: 0.3;
  }
}
